@mixin headling () {
    font: 
        {family: $main-font;
        weight: 700;
        size: 28px;
        }
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: $primary-text-color;
}
@mixin navigation {
    font: {
        family: $main-font;
        weight: 500;
        size: 18px;
    }
    line-height: 1.2;
    letter-spacing: 0.02em;
}
@mixin general {
    @media screen and (min-width:480px) {
        width: 480px;
        padding-right: 15px;
        padding-left: 15px;
    }
    @media screen and (min-width:768px) {
        width: 768px;
    }
    @media screen and (min-width:1200px) {
        width: 100%;
        padding-left: 0;
        padding-right: 0;
    }
}
